*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --primary-color: #06121E;
    --primary-dark: #040f1a;
    --primary-light: #0c2135;
    --secondary-normal: #090d11;
    --secondaty-dark: #06090c;
    --secondary-light: #1a1f25;
    --white-normal: #ffffff;
    --white-dark: #edeaef;
    --white-light: #fefbff;
    --red-normal: #d94140;
    --red-dark: #b42b2b;
    --red-light: #d34040;
}


body{
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--primary-color);
}

button{
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

svg{
    width: 100%;
}



img{
    width: 100%;
}

a{
    cursor: pointer;
    outline: none;
}


header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: var(--white-normal);
}

.header-icons{
    display: flex;
    gap: 15px;
}

.header-icons a i:hover{
    color: var(--red-light);
    animation: translateY 0.8s;
}


@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button{
    border: 1px solid var(--white-normal);
    padding: 8px 24px;
    border-radius: 4px;
    color: var(--white-normal);
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.8s;
}


.header-button:hover{
    border: 1px solid var(--red-light);
    background-color: var(--red-light);
}


.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121E), url('assets/bg.svg');
    left: 0;
    top: 0;
    opacity: 0.9;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.hero{
    color: var(--white-normal);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.hero h1{
    line-height: 150%;
    font-size: 48px;
    text-align: center;
    max-width: 940px;
}

.hero p{
    margin: 14px 0;
    text-align: center;
}

.button-contact{
    border: 0;
    padding: 14px 8px;
    border-radius: 4px;
    color: var(--white-normal);
    background-color: var(--red-normal);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;
}

.about{
    background-color: var(--primary-color);
    overflow: hidden;
    color: var(--white-normal);
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
}

.about-content img{
    max-width: 570px;
}

.about-content div{
    flex: 1;
}

.about-description h2{
    font-size: 38px;
    margin-bottom: 21px;
}

.about-description p{
    margin-bottom: 14px;
    line-height: 150%;
}

.services{
    background-color: var(--white-normal);
    overflow: hidden;
    padding: 54px 14px;
}

.services-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-description{
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
}

.services-description h2{
    color: var(--primary-color);
    text-align: center;
    font-size: 44px;
    font-weight: 700;
}

.services-description p{
    text-align: center;
    color: #323232;
    line-height: 150%;
    max-width: 780px;
    margin-bottom: 14px;
}

.haircuts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 44px 34px 44px;
}

.haircut{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--white-normal);
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    max-width: 354px;
}

.haircut img{
    width: 100%;
    max-width: 354px;
    transition: transform 0.2s;
}

.haircut img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 14px;
    background-color: var(--white-normal);
    z-index: 99;
}

.haircut-info button{
    color: var(--white-normal);
    background-color: var(--red-normal);
    padding: 4px 8px;
    border-radius: 8px;
    border: 0;
    cursor: default;
}

.services h2{
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 54px 0;
    gap: 24px;
    color: var(--white-normal);
}

.footer-icons{
    display: flex;
    gap: 10px;
    color: var(--white-normal);
}

.footer p{
    text-align: center;
}

.btn-whatsapp{
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
}

.btn-whatsapp img{
    max-width: 74px;
    transition: transform 0.4s;
}

.btn-whatsapp img:hover{
    transform: scale(1.1);
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: var(--secondaty-dark);
    color: var(--white-normal);
    opacity: 0;
    transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}


@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px){
    .header-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .header-icons{
        margin-top: 46px;
    }

    .header-button{
        display: none;
    }

    i{
        font-size: 34px;
    }

    .header-logo{
        margin-top: 56px;
    }

    .hero{
        min-height: 60vh;
    }

    .hero h1{
        font-size: 34px;
        padding: 0 14px;
        width: 100%;
    }

    .hero p{
        font-size: 14px;
    }

    .about-content{
        flex-direction: column;
    }

    .haircuts{
        flex-direction: column;
    }

    .btn-whatsapp img{
        max-width: 54px;
    }
}

@media screen and (max-width: 480px){
    .hero h1{
        font-size: 24px;
    }
}